
@{
    ViewBag.pageTitle = "Store Management";
    ViewBag.cardTitle = "view Store";
    // Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div><a class="btn btn-primary" asp-action="Create"> <i class="bi bi-plus-circle-fill"></i> Create </a></div>
<br/>

<table id="mytable" class=" table table-bordered table-striped" width="100%">
    <thead>
    <tr>
        <th>Name</th>
        <th>Address</th>
         <th>PhoneNumber</th>
         <th>storekeeper</th>
         
         <th>Minum_order</th>
         <th>IsMain</th>
         <th>Action</th>
    </tr>
    </thead>
       
</table>
@section scripts{
            <script src="~/js/Stores.js"></script>

}
